/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: "Open Sans", "Noto Sans TC", sans-serif, Arial, Helvetica;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* banner */
.kv{
    display: flex;
    justify-content: center;
    max-width: 1200px;
    padding: 0px 32px;
    align-items: center;
}
/* .kv-left{
    width: 100%;
} */
.kv-title{
    display: block;
    object-fit: cover;
    padding-top: 40px;
    width: 100%;
}
.title_main{
    width: 60%;
}
.kv-visaul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.kv-main{
    width: 100%;
    object-fit: cover;
    animation: floater 5s infinite;
}

.coin-1{
    position: absolute;
    z-index: 1;
    width: 22%;
    top: 18%;
    left: 6%;
    transform: translateY(0%);
    animation: coin-1 2.5s infinite;
}
.coin-2{
    position: absolute;
    z-index: 1;
    width: 22%;
    bottom: 10%;
    left: 2%;
    transform: translateY(0%);
    animation: coin-2 2s infinite;
}

.coin-3{
    position: absolute;
    z-index: 1;
    width: 18%;
    top: 8%;
    right: 10%;
    transform: translateY(0%);
    animation: coin-3 2s infinite;
}
.star-1{
    position: absolute;
    z-index: 1;
    width: 52px;
    top: 24px;
    left: -32px;
    animation: twinkle 1s infinite ease-in-out;
}
.star-2{
    position: absolute;
    z-index: -1;
    width: 32px;
    right: 0%;
    bottom: 30%;
    animation: twinkle 1s infinite ease-in-out;
    animation-delay: 1.5s;
}

.shadow{
    margin-top: -16px;
    width: 320px;
    height: 16px;
    background-color: rgba(1, 72, 143, 0.2);
    filter: blur(5px);
    border-radius: 100%;
    animation: shadow 2.5s ease-in-out infinite alternate;
    order: 2;
    /* animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); */
  }

@keyframes floater {
    0%{transform: translateY(0px);transition: ease 3s;}
    50%{transform: translateY(16px);transition: ease 3s;}
  }
  @keyframes coin-1 {
    0%{transform: translateY(0px);transition: ease 3s;}
    50%{transform: translateY(-20px);transition: ease 3s;}
  }
  @keyframes coin-2 {
    0%{transform: translateY(0px);transition: ease 3s;}
    50%{transform: translateY(20px);transition: ease 3s;}
  }
  @keyframes coin-3 {
    0%{transform: translateY(0%);transition: ease 3s;}
    50%{transform: translateY(-35%);transition: ease 3s;}
  }
  @keyframes twinkle {
    0%, 100% {
        opacity: 0.2;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.5);
    }
}
    @keyframes twinkle {
        0%, 100% {
            opacity: 1;
            transform: scale(1);
        }
        50% {
            opacity: 0.2;
            transform: scale(1.5);
        }
    }
    @keyframes shadow {
        0% {transform: scale(1);filter: blur(8px);}
        100% {transform: scale(.8);filter: blur(2px);}
    }

.download{
    margin-top: 16px;
    display: flex;
    gap: 16px;
    width: 60%;
}
.download-mobile{
    display: none;
    margin-top: 120px;
}
.banner{
    margin-top: 80px;
    background-image: url(../images/Banner/bg_1440.png);
    background-position: 50%;
    width: 100%;  /* 寬度設置為百分比來響應瀏覽器縮放 */
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    padding: 3% 0 10% 0;
}

.banner::after{
    content:"" ;
    width: 100%;
    height: 270px;
    background-size: 100%;
    background-image: url(../images/Banner/mask.svg);
    position: absolute;
    background-repeat: no-repeat;
    bottom: calc(5vw - 200px);
}
.content{
    width: 100%;
    position: absolute;
    z-index: 1000;
    top: calc(10vw + 580px);
}

@media (max-width: 1439px) {
    .banner{
        padding: 3% 0 12% 0;
    }
    .banner::after{
        bottom: calc(10vw - 320px);
    }
    .content{
        top: calc(10vw + 520px);
    }
    .kv{
        max-width: 960px;
    }
   
}

@media (max-width: 1023px) {
    .kv{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        gap: 0;
    }
    .banner{
        margin-top: 72px;
        height: auto;
        padding: 2% 0 6% 0;
        flex-direction: column;
        align-items: center;
        background-image: url(../images/Banner/bg_360.png);
    }
    .banner::after{
        bottom: calc(100% - 123%);
    }
    .kv-title{
        width: 400px;
        padding: 0px 0px;
    }
    .title_main{
        width: 100%;
    }

    .kv-main{
        width: 400px;
        padding: 0px 0px;
        margin-top: 0px;
    }
    .shadow{
        width: 240px;
        margin-top: 2px;
    }
    .coin-1{
        width:100px;
        top: 88px;
        left: 24px;
    }

    .coin-2{
        width:100px;
        top: 320px;
    }

    .coin-3{
        width: 80px;
        top: 24px;
        right: 64px;
    }

    .star-1{
        width: 40px;
        top: 0;
    }
    .star-2{
        bottom: 32px;
        right: 0;
    }

    .download{
       display: none;
    }
    .download-mobile{
        display:block;
        display: flex;
        width: 704px;
        padding: 0px 120px;
        margin-top: 16px;
        gap: 16px;
    }
    .content{
        top: 950px;
    }
}
@media (max-width: 767px) {
    .kv{
        margin-top: 8px;
        padding: 0px 48px;
    }
    .left-side{
        display: flex;
        justify-content: center;
    }
    .title-second{
        margin-top: -16px;
    }
    .kv-title{
        width: 90%;
        max-width: 400px;
    }
    .kv-main{
        width: 90%;
        max-width: 400px;
        margin-top: -20px;
    }
    .banner{
        margin-top: 58px;
        padding-bottom: 64px;
    }
    .banner::after{
        bottom: calc(10vw - 270px);
    }
    .coin-1{
        width:20%;
        top: 16%;
        left: 2%;
    }

    .coin-2{
        width:20%;
        top: 70%;
        left: -6%;
    }

    .coin-3{
        width:18%;
        top: 10%;
        right: -5%;
    }

    .star-1{
        width: 10%;
        top: 0;
        left: 0%;
    }
    .star-2{
        width: 8%;
        bottom: 2%;
        right: 2%;
    }

    .shadow{
        width: 120px;
        height: 6px;
        margin-top: -16px;
      }
    .download-mobile{
        width: 100%;
        max-width: 400px;
        gap: 8px;
        margin-top: 8px;
        padding: 0 32px;
    }
    .content{
        position: relative;
        top: auto;
    }
}



/* 股票借貸 */
.container{
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 120px;
    height: auto;
}
.block-1{
    display: flex;
    gap: 36px;
    margin-bottom: 64px;
    justify-content: center;
}
.block-2{
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 120px;
    height: auto;
}
.card{
    width: 315px;
    height: auto;
    background-color: white;
    padding: 32px;
    text-align: left;
    gap: 16px;
    border-radius: 24px;
    box-shadow: 0px 8px 14px 0px rgba(0, 92, 184, 0.13);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card .pic{
    width: 80px;
    height: 80px;
    margin-bottom: 24px;
}

.card .title{
    margin-bottom: 16px;
}
.card-link{
    position: relative;
    margin-top: 24px;
    font-size: 18px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    bottom: 0 auto;
}



.cta-block{
    text-align: center;
    width: 328px;
    margin: 0 auto;
 } 

@media (max-width: 1439px) {
    .container{
        width:100%;
        padding: 0px 32px;
    }
}
@media (max-width: 1023px) {
    .container{
        margin-top: 80px;
        margin-bottom: 80px;
        padding: 0px 32px;
    }
    .block-1{
        gap: 24px;
        flex-direction: column;
        align-items: center;
        padding: 0px 40px;
    }
    .card{
        width: 100%;
        text-align: center;
    }
    .cta-block{
        width: 100%;
        padding: 0px 40px;
    }

    .card-link img{
        width: 16px;
        margin-left: 8px;
    }
    
}

@media (max-width: 767px) {
    .block-1{
        padding: 0 0px;
        gap: 24px;
        flex-direction: column;
        margin-bottom: 32px;
    }
    .container{
        margin-top: 48px;
        margin-bottom: 96px;
        padding: 0px 24px;
    }
    .cta-block{
        width: 100%;
        padding: 0px 0px;
     } 

}

.iMoney{
    overflow-y: hidden;
}
/* APP直覺操作 */
.container-2{
    margin-top: 120px;
    margin-bottom: 120px;
}
.block-title{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 0 24px;
    text-align: center;
    margin-top: 137px;
    margin-bottom: 96px;
    position: relative;
}
.block-title::after{
    content: "";
    display: inline-block;
    margin: 0 auto;
    width: 704px;
    height: 32px;
    background-color: #FFF3E5;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 32px;
}

@media (max-width: 1023px) {
    .block-title{
        margin-bottom: 80px;
        margin-top: 120px;
    }
}


@media (max-width: 767px) {
    .block-title{
        flex-direction: column;
        gap: 0;
        margin-bottom: 64px;
        margin-top: 80px;
    }
    .block-title::after{
        width: 312px;
        height: 24px;
        margin-top: 72px;
    }
}


/* 背景色塊 */
.app-block-blue{
    position: relative;
    padding: 0px 120px;
    margin-bottom: 96px;

}
 .app-block-blue::after{

    content: "";
    display: block;
    margin-top: -340px;
    width: 60%;
    height: 340px;
    background-color: #F4F9FF;
    position: absolute;
    z-index: -100;
    right: 0;

}

.app-block-blue-1{
    position: relative;
    padding: 0px 120px;
    margin-bottom: 96px;

}
 .app-block-blue-1::after{

    content: "";
    display: block;
    margin-top: -260px;
    width: 60%;
    height: 260px;
    background-color: #F4F9FF;
    position: absolute;
    z-index: -100;
    right: 0;

}
.app-block-orange{

    position: relative;
    padding: 0px 120px;
    margin-bottom: 96px;

}
.app-block-orange::after{

    content: "";
    display: block;
    margin-top: -260px;
    width: 60%;
    height: 260px;
    background-color: #FFFBF5;
    z-index: -100;
    position: absolute;
    left: 0;

}

@media (max-width: 1439px) {

    .app-block-blue{
        padding: 0px 32px;
    }
    .app-block-blue-1{
        padding: 0px 32px;
    }
    .app-block-orange{
        padding: 0px 32px;
    }
}

@media (max-width: 1023px) {

    .app-block-blue{
        padding: 0px 180px;
    }
    .app-block-blue-1{
        padding: 0px 180px;
    }
    .app-block-blue::after{
        height: 320px;
        margin-top: -384px;
        width: 60%;
    }
    .app-block-orange{
        padding: 0px 180px;
    }
    .app-block-orange::after{
        display: none;
    }
}

@media (max-width: 767px) {

    .app-block-blue{
        padding: 0px 24px;
        margin-bottom: 40px;
    }
    .app-block-blue-1{
        padding: 0px 24px;
        margin-bottom: 40px;
    }
    .app-block-orange{
        padding: 0px 24px;
        margin-bottom: 40px;
    }
}





.compony{

    font-size: 14px;
    padding: 8px 24px;

}


/* 手機圖示 */
.phone{
    display: block;
    width: 400px;
    height: 400px;

}

@media (max-width: 1023px) {
    .phone{
        width: 704px;
        height: auto;
    }

}

.inner{

    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width: 100%;

}

.inner-2{

    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width: 100%;

}

.inner-orange{

    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width: 100%;

}


.inner li{

    margin-bottom: 16px;
    padding-left: 24px;
    position: relative;

}

.inner li::before{
    content: url(../images/section/dot.svg);
    display: block;
    position: absolute;
    left: 0;
    align-items: center;
    transform: translateY(10%);
}

.dot{
    background-image: url(../images/section/dot.svg);
}

/* blue-side */
.app-1{
    display: flex;
    align-items: flex-end;
    gap: 40px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.app-1::after{
    content: "";
    display: block;
    margin-top: -340px;
    width: 100%;
    height: 340px;
    background-color: #F4F9FF;
    position: absolute;
    z-index: -100;
    left: 200px;
}

.app-1 h2{
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 32px;
}
.app-1 h2::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-left: 8px;
    background-color: black;
}

.app-3{
    display: flex;
    align-items: flex-end;
    gap: 40px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.app-3::after{
    content: "";
    display: block;
    margin-top: -260px;
    width: 100%;
    height: 260px;
    background-color: #F4F9FF;
    position: absolute;
    z-index: -100;
    left: 200px;
}

.app-3 h2{
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 32px;
}
.app-3 h2::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-left: 8px;
    background-color: black;
}

.color{
    background-color: #F4F9FF;
    height: 340px;
    position: absolute;
    width: 100%;
    z-index: -1;
    margin-left: 200px;

}
.bg-color{
    height: 340px;
    background-color: #F4F9FF; /* 背景顏色 */
    position: absolute;
    left: 50%;
    right: 0;
    bottom: 0;
    z-index: -1;
}


@media (max-width: 1023px) {

    .app-1{
        flex-direction: column;
        align-items: center;
        gap: 0px;
        transform: scale(1);
    }
    .app-1::after{
        display: inline-flex;
        height: 80%;
        background-color: #E9F3FF;
        bottom: 0;
        width: 100%;
        margin-bottom: 64px;
        z-index: -999999;
    } 

    .app-3{
        flex-direction: column;
        align-items: center;
        gap: 0px;
        transform: scale(1);
    }
    .app-3::after{
        display: inline-flex;
        height: 80%;
        background-color: #E9F3FF;
        bottom: 0;
        width: 100%;
        margin-bottom: 40px;
        z-index: -999999;
    } 

    .inner{
        width: 100%px;
        padding: 32px 40px;
        background-color: #F4F9FF; /* 背景顏色 */
        margin-top: -8px;
        box-shadow: 200px 0 0 0 #F4F9FF;
        margin-bottom: 0px;

    }

    .inner-orange{
        width: 100%;
        padding: 32px 40px;
        background-color: #F4F9FF; /* 背景顏色 */
        margin-top: -8px;
        box-shadow: -200px 0 0 0 #FFFBF5;
        margin-bottom: 0px;
    }

    .phone{
        width: 100%;
    }
}
@media (max-width: 767px) {

    .app-1 .phone{
        width: 100%;
        height: auto;
    }
    .app-1::after{
       height: 80%;
    }
    .app-3 .phone{
        width: 100%;
        height: auto;
    }
    .app-3::after{
       height: 80%;
    }

    .inner{
        width: 100%;
        box-shadow: 100px 0 0 0 #F4F9FF;
        padding: 24px 24px;
        margin-bottom: 0px;
    }
    .inner-orange{
        width: 100%;
        box-shadow: -100px 0 0 0 #FFFBF5;
        padding: 24px 24px;
        margin-bottom: 0px;
    }

    .inner-orange h2{
        width: 100%;
    }
}

/* orange-side */
.app-2{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 40px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.app-2::after{
    content: "";
    display: block;
    margin-top: -260px;
    width: 100%;
    height: 260px;
    background-color: #FFFBF5;
    position: absolute;
    z-index: -100;
    right: 200px;
}
.app-2 h2{
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 32px;
}
.app-2 h2::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-left: 8px;
    background-color: black;
}

.color-2{
    background-color: #FFFBF5;
    height: 340px;
    position: absolute;
    width: 100%;
    z-index: -1;
    margin-left: 200px;

}
.bg-color-2{
    height: 340px;
    background-color: #FFFBF5; /* 背景顏色 */
    position: absolute;
    left: 50%;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/* .app-2 .inner-orange{
    order: 2;
}
.app-2 .phone{
    order: 1;
} */

.inner-orange li{

    margin-bottom: 16px;
    padding-left: 24px;
    position: relative;

}

.inner-orange li::before{
    content: url(../images/section/dot.svg);
    display: block;
    position: absolute;
    left: 0;
    align-items: center;
    transform: translateY(10%);
}

@media (max-width: 1023px) {
    .app-2{
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .app-2 .inner-orange{
        order: 2;
    }
    .app-2 .phone{
        order: 1;
    }
    .app-2::after{
        display: inline-flex;
        height: 80%;
        background-color: #FFF7EA;
        bottom: 0;
        width: 150%;
        margin-bottom: 64px;
        z-index: -999999;
        
    }

}

@media (max-width: 767px) {
    .app-2 .phone{
        width: 100%;
        height: 10%;
    }
    .app-2::after{
        height: 80%;
        
    }
    .app-2 h2, .app-1 h2 .app3 h2{
        margin-bottom: 24px;
    }
}


.app-icon{
    margin: 0 auto;
    width: 120px;
    filter: drop-shadow(0px 8px 14px rgba(0, 92, 184, 0.13));
}

@media (max-width: 767px) {
    .app-icon{
        width: 80px;
        margin: 0 auto;
    }
}