/* button-primary */
.btn{
    background-color: #076ED7;
    padding: 16px 16px;
    border: none;
    border-radius: 100px;
    color: white;
    transition: all 600ms cubic-bezier(.23, 1, 0.32, 1);
    width: 100%;
}
.btn:hover {
    background-color: #0664C4; 
    box-shadow: rgba(0, 92, 184, 0.13) 0 8px 14px 0;
    transform: translateY(-4px);
}
.btn:active {
    background-color: #1E8BFA; 
}


/* button-secondary */
.btn-secondary{
    width: 240px;
    padding: 12px 24px;
    text-align: center;
    border-radius: 100px;
    border: 1px solid #076ED7;
    margin-top: 16px;
    transition: all 600ms cubic-bezier(.23, 1, 0.32, 1);
    display: flex;
    justify-content: center;
}

.btn-secondary:hover{
    transform: translateY(-4px);
}



@media (max-width: 1023px) {

    .btn{
        padding: 12px 0px;
    }
    .btn-secondary{
        padding: 12px 0px;
        width: 100%;
    }

}

@media (max-width: 767px) {

    .btn-secondary{
        width: 100%;
    }

}
/* download-button */
.download-btn{
    width: 180px;
    height: 72px;
    filter: drop-shadow(4px 6px 10px rgba(42, 106, 174, 0.35));
    transition: all 600ms cubic-bezier(.23, 1, 0.32, 1);
}

.download-btn:hover {
    transform: translateY(-4px);
}

/* float-button */
.float-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: fixed;
    z-index: 99;
    right: 40px;
    bottom: 20px;
    padding: 12px 8px;
    background-color: #076ED7;
    border-radius: 16px;
    font-size: 14px;
    transition: all 600ms cubic-bezier(.23, 1, 0.32, 1);
}

.float-btn:hover{
    background-color: #0664C4;
    box-shadow: rgba(0, 92, 184, 0.13) 0 8px 14px 0;
    transform: translateY(-4px);
    
}
.notebook{
    width: 24px;
    margin-bottom: 4px;
}
.link-icon-dark{
    width: 16px;
    margin-left: 8px;
}
.link-icon-light{
    width: 16px;
    margin-left: 8px;
}

@media (max-width: 767px) {
    .float-btn{
        flex-direction: row;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding: 16px 0px;
        bottom: 0;
        right: 0;
        border-radius: 0px;
        font-size: 16px;
        gap: 8px;
    }
    .compony{
        font-size: 14px;
        margin-top: 4px;
        text-align: left;
    }
    .notebook{
        width: 16px;
        margin-bottom: 0px;
    }
} 

/* card-item*/
.item{
    background-image: url(../images/illustration/item.svg);
    width: 16px;
}